*{
  margin:0;
}

body{
  width:100%;
}


.li{
  border: 5px solid black;
  height: 75px;
  list-style:none;
}

.search-box{
  width:100%;
  display: flex;

  border:2px solid black;
}

#held_stocks{
  border: 2px solid black;
}

details {
  border:2px solid black;
}
